<form [formGroup]="profileForm">

    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="firstName">
  
    <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" formControlName="lastName">

    <!-- <app-address-input [addressForm]="address"></app-address-input> -->
    <!-- <app-aliases-input [aliasesForm]="aliases"></app-aliases-input> -->

    <app-address-cva formControlName="address"></app-address-cva>
    <app-aliases-cva formControlName="aliases"></app-aliases-cva>
    
    <pre>{{ profileForm.value| json}}</pre>
    <p>Form Status: {{ profileForm.status }}</p>
    <button type="button" (click)="updateProfile()">Update Profile</button>
</form>